$base: 2;
$exponent: 1;
$limit: 11;

$tile-color: #eee4da;
$tile-gold-color: #edc22e;
$tile-gold-glow-color: lighten($tile-gold-color, 15%);

$text-color: #776E65;
$bright-text-color: #f9f6f2;

// Colors for all 11 states, false = no special color
$special-colors: false false, // 2
                 false false, // 4
                 #f78e48 true, // 8
                 #fc5e2e true, // 16
                 #ff3333 true, // 32
                 #ff0000 true, // 64
                 false true, // 128
                 false true, // 256
                 false true, // 512
                 false true, // 1024
                 false true; // 2048

@function countPower($base, $exponent) {
  // reset value
  $value: $base;
  // positive intergers get multiplied
  @if $exponent > 1 {
    @for $i from 2 through $exponent {
      $value: $value * $base; } }
  // negitive intergers get divided. A number divided by itself is 1
  @if $exponent < 1 {
    @for $i from 0 through -$exponent {
      $value: $value / $base; } }
  // return the last value written
  @return $value;
}

@while $exponent <= $limit {
  $power: countPower($base, $exponent);

  &.span-#{$power} {
    // Calculate base background color
    $gold-percent: ($exponent - 1) / ($limit - 1) * 100;
    $mixed-background: mix($tile-gold-color, $tile-color, $gold-percent);

    $nth-color: nth($special-colors, $exponent);

    $special-background: nth($nth-color, 1);
    $bright-color: nth($nth-color, 2);

    @if $special-background {
      $mixed-background: mix($special-background, $mixed-background, 55%);
    }

    @if $bright-color {
      color: $bright-text-color;
    }

    // Set background
    background: $mixed-background;

    // Add glow
    $glow-opacity: max($exponent - 4, 0) / ($limit - 4);

    @if not $special-background {
      box-shadow: 0 0 30px 10px rgba($tile-gold-glow-color, $glow-opacity / 1.8),
                  inset 0 0 0 1px rgba(white, $glow-opacity / 3);
    }

    // Adjust font size for bigger numbers
    @if $power >= 100 and $power < 1000 {
      font-size: 45px;
    } @else if $power >= 1000 {
      font-size: 35px;
    }
  }

  $exponent: $exponent + 1;
}